<!--<html>

<body>
    <h1>
        Welcome to Flask world
    </h1>
</body>
</html>
-->

<html>

<body>
    <h2>
        Score Submission page
    </h2>
    <form action = /submit method='POST'>
        <label for ="ML"> ML :</label> <br>
        <input type ="text",id="ML" name="ML" value =0> <br> <br>
        <label for ="DL"> DL :</label> <br>
        <input type ="text",id="DL" name="DL" value =0> <br> <br>
        <label for ="Python"> Python :</label> <br>
        <input type ="text",id="Python" name="Python" value =0> <br> <br>
        <input type="submit" value ="Submit">
    
    
    
    </form>

</body>
</html>